version: "3.1"

services:
  backend:
    build:
      context: .
      dockerfile: docker/service/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - redis
      - db
    environment:
      GIT_CACHE: /tmp/gitcache
      CVE_DATA_PATH: /app/cve_data
      REDIS_URL: redis://redis:6379/0
      #POSTGRES_HOST: db
      #POSTGRES_PORT: 5432
      #POSTGRES_USER: postgres
      #POSTGRES_PASSWORD: example
      #POSTGRES_DBNAME: postgres
      #NVD_API_KEY: ${NVD_API_KEY}

  worker:
    build:
      context: .
      dockerfile: docker/worker/Dockerfile
    volumes:
      - ./data_sources/reports:/app/data_sources/reports
      - ./evaluation/data/reports_with_llm/:/app/evaluation/data/reports_with_llm # Only relevant for evaluation data
      - ./evaluation/data/reports_without_llm/:/app/evaluation/data/reports_without_llm # Only relevant for evaluation data
      - ./evaluation/data/reports_without_llm_mvi/:/app/evaluation/data/reports_without_llm_mvi # Only relevant for evaluation data
      - ./evaluation/data/reports_with_llm_mvi/:/app/evaluation/data/reports_with_llm_mvi # Only relevant for evaluation data
      - ./../../../data/gitcache:/tmp/gitcache # LASCHA: check that this is correct
    depends_on:
      - redis
    environment:
      LOG_LEVEL: debug
      PIP_REQUIREMENTS: requirements.txt
      GIT_CACHE: /tmp/gitcache

  db:
    image: postgres
    container_name: db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: example #${POSTGRES_PASSWORD}
    volumes:
      - ./ddl:/docker-entrypoint-initdb.d
      - ${POSTGRES_DATA}:/var/lib/postgresql/data

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
