[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
black = "*"
pylint = "==2.6.0"
pytest = "*"
pre-commit = "*"
pytest-cov = "*"
pycodestyle = "*"
flake8 = "*"

[packages]
numpy = "==1.19.4"
pandas = "==1.1.4"
python-dateutil = "==2.8.1"
pytz = "==2020.4"
pyzmq = "==19.0.2"
requests = "==2.24.0"
scikit-learn = "==0.23.2"
scikit-optimize = "==0.8.1"
scipy = "==1.5.4"
six = "==1.15.0"
sklearn = "==0.0"
spacy = "==2.3.2"
toml = "==0.10.2"
tqdm = "==4.51.0"
tzlocal = "==2.1"
validators = "==0.18.1"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
PyYAML = "==5.4"
uvicorn = "*"
fastapi = "*"
python-multipart = "*"
pydantic = "==1.8.2"
psycopg2-binary = "*"
psycopg2 = "*"
rq = "==1.8.0"
plac = "*"
pytest = "*"
python-levenshtein = "*"
typing-extensions = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
