[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
requests = "*"
scikit-optimize = "*"
scikit-learn = "*"
spacy = "*"
scipy = "*"
six = "*"
sklearn = "*"
toml = "*"
tqdm = "*"
tzlocal = "*"
validators = "*"
jinja2 = "*"
markupsafe = "*"
pyyaml = "*"
uvicorn = "*"
fastapi = "*"
python-multipart = "*"
pydantic = "*"
psycopg2 = "*"
rq = "*"
plac = "*"
pytest = "*"
python-levenshtein = "*"
typing-extensions = "*"
requests-cache = "*"
python-dotenv = "*"
colorama = "*"
beautifulsoup4 = "*"

[dev-packages]
autopep8 = "*"
black = "*"
pylint = "*"
pytest = "*"
pre-commit = "*"
pytest-cov = "*"
pycodestyle = "*"
flake8 = "*"
requests-mock = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
