[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q --cov-config=.coveragerc --cov-report html:cov_html --cov=."
testpaths = [
    "commitdb",
    "datamodel",
#    "client",
    "commit_processor",
    "git",
    "api",
    "filter_rank"
]

[tool.isort]
profile = "black"
multi_line_output = 3
