aiohttp
aiofiles
beautifulsoup4
colorama
datasketch
fastapi
google-cloud-aiplatform==1.49.0
Jinja2
langchain
langchain_anthropic
langchain_openai
langchain_google_vertexai
langchain_mistralai
langchain_community
omegaconf
pandas
plac
psycopg2
pydantic
pytest
python_dateutil
python-dotenv
redis
requests
requests_cache==0.9.6
rq
spacy
tqdm
uvicorn
validators
