margin: 1.6rem 0;
    span.toctitle {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.01em;
}

div.toc > ul  {
    margin: 0;
}

div.toc > ul > li {
    margin: 10px;
    list-style: none;
    font-weight: 800;
}

div.toc > ul > li > ul> li {
    list-style: none;
    font-weight: 400; 
}

div.toc > ul > li > ul> li:before {
    content: "-";
    font-weight: 600;
    display: block;
    float: left;
    width: 1.2em;
    color: #00af26;
}

/* div.md-sidebar--secondary {
    /* display: none; */
} */