<script type="application/javascript">
    function toggle_collapse_all(selector) {

        if (selector.classList.contains("btn-primary")) {
            selector.classList.replace("btn-primary", "btn-outline-primary");
            selector.innerHTML = 'Collapse all';
            collapseAll(true)

        } else {
            selector.classList.replace("btn-outline-primary", "btn-primary");
            selector.innerHTML = 'Expand all';
            collapseAll(false)
        }

        // for (let card of commit_cards) {
        //     let card_body = card.getElementsByClassName('collapse').item(0);
        //     if (selector.innerHTML == 'Expand All') {
        //         card_body.classList.replace('hide', 'show');
        //     } else {
        //         card_body.classList.replace('show', 'hide');
        //     }
        // }
        // console.log("toggle collapse all")
    }

    function collapseAll(show) {
        let commit_cards = document.getElementsByClassName('commit');
        for (let card of commit_cards) {
            let card_body = card.getElementsByClassName('collapse').item(0);
            if (show) {
                card_body.classList.replace('hide', 'show');
            } else {
                card_body.classList.replace('show', 'hide');
            }
        }
    }

    collapse_all_button = document.getElementById('collapse_all_toggle');
    collapse_all_button.addEventListener('click', function () { toggle_collapse_all(collapse_all_button); })

</script>
