{% extends "titled_block.html" %}
{% set title = "Annotations" %}
{% set icon = "fas fa-bullhorn" %}
{% block body %}
<p>
    {% for annotation, comment in annotated_commit.annotations.items() | sort %}
    <button type="button" class="btn btn-primary position-relative m-2" disabled>
        {{ comment }}
        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-light border border-primary text-primary">
            {{ annotation }}
        </span>
    </button>
    {% endfor %}
</p>
{% endblock %}
