{% extends "titled_block.html" %}
{% set title = "Annotations" %}
{% set icon = "fas fa-bullhorn" %}
{% block body %}
<p>
    {% for id, msg, _ in annotated_commit.matched_rules | sort %}
    <button type="button" class="btn btn-primary position-relative m-2" disabled>
        {{ msg }}
        <span
            class="position-absolute top-0 start-0 translate-middle-y badge rounded-pill bg-light border border-primary text-primary">
            {{ id }}
        </span>
    </button>
    {% endfor %}
</p>
{% endblock %}