<div class="container">
    <div class="row">
        <div class="col">
            <h5 class="mb-0">
                {{ annotated_commit.message | truncate(150) }}
                {% if not annotated_commit.message %}
                <i>(no commit message found)</i>
                {% endif %}
            </h5>
            <h6 style="margin: 5pt 0 0;" class="mb-0">
                Relevance: {{ annotated_commit.relevance }}
            </h6>
            <p style="margin: 5pt 0 0;">
                <i class="fas fa-bullhorn"></i>
                {% for rule in annotated_commit.matched_rules %}
                <span class="badge rounded-pill bg-primary" style="font-family: monospace;">{{ rule.id }}</span>
                {% endfor %}
            </p>
        </div>
        <div class="col col-auto">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#candidatebody-{{ loop.index }}" aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-low-vision"></i>
            </button>
        </div>
        <div class="col col-auto">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onchange="selectCard()">
            </div>
        </div>
    </div>
</div>