name: Build Docs

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: Build and Deploy Documentation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Master
        uses: actions/checkout@v2

      - name: Install Material
        run: pip install mkdocs-material

      - name: Build and Deploy Documentation using MkDocs
        uses: Tangerine-Community/tangy-mkdocs-build-action@v1
